container {
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

preview {
    flex-grow: 1;
    align-self: stretch;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    padding: 25px;
}

image {
    width: 250px;
    margin: 25px;
}
