container {
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

preview {
    flex-grow: 1;
    align-self: stretch;
    justify-content: flex-end;
    align-items: center;
    padding: 25px;
}

text {
    margin: 25px;
}
